<a href="https://colab.research.google.com/github/bryce-hales/exploratory_data_analysis_on_wine_reviews/blob/main/Exploratory_Data_Analysis_on_Wine_Reviews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Exploratory Data Analysis on Wine Reviews
In this Google Colab file I'm taking the data from a wine dataset that can be found in my Github Repository for this project and answering the following questions.



1. Which country produces wine with the most points, on average? (descriptive statistics)
2. Which taster gives the lowest scores (points), on average?
3. Which variety of wine is the most expensive, on average?
4. Which year of wines has the best score (points), on average?
5. Do reviews with the word "depth" in them tend to get better than average or worse than average points?
6. Do reviews with the word "fruity" in them tend to get better than average or worse than average points?
7. Do reviews with the word "herbal" in them tend to get better than average or worse than average points?
8. Do reviews with more letters award more or less points, on average?
9. Which region of the province Sicily & Sardinia produces the best wine, on average?

In [2]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('https://mtec.instructure.com/courses/1226909/files/186143858//download?verifier=IbZ6OGe740MLPfj4iWERtVWFq0QiIdJilLoDRQH3&download_frd=1')

In [41]:
df

,country,description,designation,points,price,province,taster_name,taster_twitter_handle,title,variety,winery,year
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,2013
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,2011
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,2013
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,2013
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,2012
...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef),2013
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation,2004
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser,2013
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,2012
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit,2012

### 1. Which country produces wine with the most points, on average? (descriptive statistics)

*A: England with an average of 91.58 points.*

In [25]:
country_points = df.groupby("country")["points"].mean()

In [24]:
country_points.sort_values(ascending=False).head(5)

country
England    91.581081
India      90.222222
Austria    90.101345
Germany    89.851732
Canada     89.369650
Name: points, dtype: float64

### 2. Which taster gives the lowest scores (points), on average?

*A: Alexander Peartree with an average of 85.86 points*

In [26]:
df.groupby("taster_name")["points"].mean().sort_values().head(5)

taster_name
Alexander Peartree    85.855422
Carrie Dykes          86.395683
Susan Kostrzewa       86.609217
Fiona Adams           86.888889
Michael Schachner     86.907493
Name: points, dtype: float64

### 3. Which variety of wine is the most expensive, on average?

*A: Ramisco at $495.00*

In [32]:
df.groupby("variety")["price"].mean().sort_values(ascending=False).head(5)

variety
Ramisco             495.000000
Terrantez           236.000000
Francisa            160.000000
Rosenmuskateller    150.000000
Malbec-Cabernet     113.333333
Name: price, dtype: float64

### 4. Which year of wines has the best score (points), on average?

*A: 1969*

In [37]:
df['year'] = df['title'].str.extract(r'(\d{4})')

In [38]:
df.groupby("year")["points"].mean().sort_values(ascending=False).head(5)

year
1969    98.0
1973    96.0
1952    95.5
1961    95.0
1945    95.0
Name: points, dtype: float64

### 5. Do reviews with the word "depth" in them tend to get better than average or worse than average points?

*A: Better than average! The insight can be derived from my print statements quoted below!*

"The average points for all reviews is 88.45
The average points for reviews containing 'depth' is 90.11"

In [51]:
df["points"].mean()
print(f"The average points for all reviews is {df['points'].mean():.2f}")

df["depth"] = df["description"].str.lower().str.contains("depth")
df.groupby("depth")["points"].mean()
print(f"The average points for reviews containing 'depth' is {df.groupby('depth')['points'].mean()[True]:.2f}")

The average points for all reviews is 88.45
The average points for reviews containing 'depth' is 90.11

### 6. Do reviews with the word "fruity" in them tend to get better than average or worse than average points?

*A: Worse than average sadly. The average points for reviews containing the term 'fruity' was 87.60 which is lower than the overall average.*

In [53]:
print(f"The average points for all reviews is {df['points'].mean():.2f}")

df["fruity"] = df["description"].str.lower().str.contains("fruity")
df.groupby("fruity")["points"].mean()
print(f"The average points for reviews containing 'fruity' is {df.groupby('fruity')['points'].mean()[True]:.2f}")

The average points for all reviews is 88.45
The average points for reviews containing 'fruity' is 87.60

### 7. Do reviews with the word "herbal" in them tend to get better than average or worse than average points?

*A: Worse than average. 87.44 < 88.45 (General Avg.)*

In [54]:
print(f"The average points for all reviews is {df['points'].mean():.2f}")

df["herbal"] = df["description"].str.lower().str.contains("herbal")
df.groupby("herbal")["points"].mean()
print(f"The average points for reviews containing 'herbal' is {df.groupby("herbal")['points'].mean()[True]:.2f}")

The average points for all reviews is 88.45
The average points for reviews containing 'herbal' is 87.44

### 8. Do reviews with more letters award more or less points, on average?

*A: More points on average!*

In [56]:
df["description_length"] = df["description"].str.len()

In [63]:
correlation = df['description_length'].corr(df['points'])
print(f"The correlation between description length and points is: {correlation:.2f}")

if correlation > 0:
    print("Reviews with more letters tend to award more points on average.")
elif correlation < 0:
    print("Reviews with more letters tend to award less points on average.")
else:
    print("There is no significant linear correlation between description length and points.")

The correlation between description length and points is: 0.56
Reviews with more letters tend to award more points on average.

### 9. Which region of the province Sicily & Sardinia produces the best wine, on average?

*A: The Faro region as it has the highest points at 94!*

In [74]:
df_province = df[df["province"] == "Sicily & Sardinia"]

In [93]:
sicily_sardinia_df['region_from_title'] = df_province['title'].str.extract(r'\((.*?)\)', expand=False)
sicily_sardinia_df.groupby('region_from_title')['points'].mean().sort_values(ascending=False).head(5)

region_from_title
Faro                      94.000000
Moscato di Noto           92.000000
Contessa Entellina        91.857143
Alghero                   91.500000
Passito di Pantelleria    91.363636
Name: points, dtype: float64